//Primary Colors
$primary-normal: #23CFF6;
$primary-light: #22525d;

//Secondary Colors
$secondary-normal:#E6EEF0;
$secondary-dark:#212121;




//auxiliary colors
$red:#EB3D3D;
$red-light:#F05454;
$red-dark:#D03333;

$green:#32D957;
$green-light:#50E170;
$green-dark:#28BB49;


